{% extends "./layout/layout.njk" %}

{% block body %}
  <h2>Recently Added</h2>
  <div>
    {% for book in books %}
      <a href="/books/{{ book.id }}">
        <img src="{{book.coverImagePath}}" height="150" width="100">
      </a>
    {% endfor %}
  </div>
{% endblock %}